/********************************************
 * CUSTOM - BIRD
*********************************************/
.reveal blockquote {
  box-shadow: inherit;
}

.reveal .slide-title {
  color: #A0CBE5; 
  float: right;
}

.reveal h3 ~ ul {
  margin-top: -25px;
  margin-bottom: 20px;
}

.slide_image {
  position: absolute;
  right: 0em;
  width: 40%;
  top: 3.5em;
  z-index: -10; }

.home_image {
  position: absolute;
  height: 55%;
  right: 0em;
  top: 4em;
  z-index: -10; }

i.bokeh {
  background-image: url("../images/bokeh-transparent.png");
  display: inline-block;
  background-size: 1em;
  height: 1em;
  width: 1em;
  background-position: 0 0.1em;
  background-repeat: no-repeat; }

.attribution {
  clear: both; }
  .attribution > img {
    width: 20%;
    float: right; }
  .attribution > p {
    clear: both;
    font-size: 0.5em;
    text-align: right; }

.reveal .stretch {
  max-width: none;
  max-height: none; }

.reveal pre.stretch code {
  height: 100%;
  max-height: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
